
.header
    padding: 10px
    background: rgba(0,0,0,0.1)
    margin-top: 3rem
    &__container
        display: flex
        justify-content: space-around
        max-width: 900px
        margin: auto
    &__search
        cursor: pointer
        transition: all 0.5s
        display: flex
        align-items: center
        &Label
            margin-right: 2rem
        &Input
            color: #9d9e9d
            background: #e5e5e5
            outline: none
            border: 2px solid #000
            border-radius: 0.5em 0 0 0.5em
            padding: 8px 10px
            transition: all 0.5s
            &:focus
                color: #000
                background: #fff
                outline: none
                border: 2px solid #772ce8
            &::placeholder
                color: #772ce8
        &Btn
            position: relative
            z-index: 100
            margin-top: 4px
            cursor: pointer
            fill: #e5e5e5 !important
        &Btn._active
            fill: #000 !important
    &__search._active
        border-bottom: 3px solid #772ce8
        padding-bottom: 15px
    &__favorite
        transition: all 0.5s
        display: flex
        align-items: center
        cursor: pointer
        margin: auto
        position: relative
        padding-left: 40px !important
        border: 2px solid #772ce8
        padding: 5px 10px
        border-radius: 5px
        color: #fff
        background: lighten(#772ce8,25%)
        &Icon
            position: absolute
            left: 4%
        &Count
            margin-left: 5px
            font-weight: 700
    &__favorite._active
        border-bottom: 3px solid #772ce8
        padding-bottom: 12px
        padding-top: 12px
    &__favorite._active .header__favoriteIcon
        fill: darkviolet !important

@media screen and ( max-width: 576px )
    .header
        &__search
            width: 35%
            position: relative
            margin: auto
            &Label
                display: none
            &Input
                width: 90%
                padding: 5px
            &Btn
                z-index: 100
                // left: 50%
                // top: 22%
                position: absolute
                right: -26%
                // top: 287%
                font-size: 35px
        &__favorite
            padding: 5px
            font-size: 13px
